.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Sidebar */
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 48px;
	
}
.widget-area .widget h3 {
	margin-bottom: 24px;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 13px;
	line-height: 1.846153846;
}
.widget-area .widget p {
	margin-bottom: 24px;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
}
.widget-area .textwidget li {
	margin-left: 36px;
}
.widget-area .widget a {
	color: #757575;
}
.widget-area .widget a:hover {
	color: #00303F;
}
.widget-area .widget a:visited {
	color: #9f9f9f;
}
.widget-area #s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}
/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
	margin-left: 12px;
}
.widget_rss li {
	margin: 12px 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	margin-left: 12px;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	text-align: right;
}
.widget_search label {
	display: block;
	font-size: 13px;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}

