/* Pagination
-------------------------------------------------------------- */
.navigation {
	width: 100%;
	margin: 20px 0 30px 0;
	clear: both;
	float: left;

	& ul {
		margin: 0;
		padding: 0;
	}

	& li {
		margin: 0;
		display: inline;
		list-style: none;
	}
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: #FAD827;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
	@include transition(.3s ease all);
}
 
.navigation li a:hover,
.navigation li.active a {
	background-color: #F47A21;
}
.navigation {

	margin-top: 10px;

	float: left;

	width: 100%;

	margin-bottom: 15px;

}



.pagi {

	bottom: -50px;

	left: 125px;

	position: absolute;	

}

.navigation li a,

.navigation li a:hover,
.navigation li a:visited,

.navigation li.active a,

.navigation li.disabled {

	color: #fff;

	text-decoration:none;

}



.navigation li {

	display: inline;

	background: none!important;

	padding-left: 0px!important;
	margin: 0px;

}



.navigation li a,

.navigation li a:hover,

.navigation li.active a,

.navigation li.disabled {

	background-color: #9C9C9C;

	border-radius: 3px;

	cursor: pointer;

	padding: 12px;

	padding: 0.75rem;

}



.navigation li a:hover,

.navigation li.active a {

	background-color: #748FA2;

}
